html {
    font-size: 100%;
}

body {
    background-image: url('black-background.jpg');
    color: #FFFFFF;
    text-align: center;
}

p {
    display: inline-block;
    font-size: 1rem;
    margin: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #FFFFFF;
}

.todo-container {
    margin: 10px;
}

#site-description {
    max-width: 100%;
}
